<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org/DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
	    <typeAlias type="com.vo.CoordinateVO" alias="coordinate"/>
	    <typeAlias type="com.vo.ContactVO" alias="contact"/>
	    <typeAlias type="com.vo.CamVO" alias="cam"/>
	    <typeAlias type="com.vo.SonicVO" alias="sonic"/>
	    <typeAlias type="com.vo.DustVO" alias="dust"/>
	    <typeAlias type="com.vo.UserVO" alias="user"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="com/mybatis/coordinatemapper.xml"/>
		<mapper resource="com/mybatis/contactmapper.xml"/>
		<mapper resource="com/mybatis/cammapper.xml"/>
		<mapper resource="com/mybatis/sonicmapper.xml"/>
		<mapper resource="com/mybatis/dustmapper.xml"/>
		<mapper resource="com/mybatis/usermapper.xml"/>
	</mappers>
</configuration>







