<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.SonicMapper">
	
	<insert id="insert" parameterType="sonic">
		INSERT INTO SONIC VALUES (NO_SEQ.NEXTVAL,#{X},#{Y})
	</insert>
	
	<update id="update" parameterType="sonic">
		UPDATE SONIC SET X = (#{X}), Y = (#{Y}) WHERE NO = 1
	</update>
	
	<select id="select" parameterType="sonic" 
	resultType="sonic">
		SELECT * FROM SONIC WHERE NO=#{NO}	
	</select>
	
	<select id="selectall" resultType="sonic">
		SELECT * FROM SONIC ORDER BY NO DESC
	</select>
</mapper>






